.pln {
  color: #e6e6e6;
}

/* string content */
.str {
  color: #d2af64;
}

/* a keyword */
.kwd {
  color: #7896b4;
  font-weight: bold;
}

/* a comment */
.com {
  color: #8CB478;
}

/* a type name */
.typ {
  color: #a1caf2;
  font-weight: bold;
}

/* a literal value */
.lit {
  color: #cd7382;
}

/* punctuation */
.pun {
  color: #e6e6e6;
}

/* lisp open bracket */
.opn {
  color: #e6e6e6;
}

/* lisp close bracket */
.clo {
  color: #e6e6e6;
}

/* a markup tag name */
.tag {
  color: #7896b4;
  font-weight: bold;
}

/* a markup attribute name */
.atn {
  color: #7896b4;
}

/* a markup attribute value */
.atv {
  color: #d2af64;
}

/* a declaration */
.dec {
  color: #a1caf2;
}

/* a variable name */
.var {
  color: #a1caf2;
}

/* a function name */
.fun {
  color: #a1caf2;
  font-weight: bold;
}

/* Specify class=linenums on a pre to get line numbering */
ol.linenums {
  margin-top: 0;
  margin-bottom: 0;
}
